{% extends "primary_master/base.htm" %}

{% block header %} जिल्ला {% endblock header %}


{% block content %}
<a href="{% url 'district_add' %}" class="btn btn-outline-success" style="margin:0px 0px 20px 0px;"><i
        class="fas fa-plus">Add New</i></a>
<div class="row">
    <div class="col">
        <div class="card card-body">
            <form action="" method="GET">
                <div class="row">
                    <div class="col-md-9">
                        <!-- {{ developerfilter.form}} -->
                    </div>
                    <div class="col-md-3" align="right">
                        <button class="btn btn-primary" type="submit">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<table id="datatable" class="table table-striped table-bordered" style="width:100%">
    <thead class="font-weight:bold">
        <tr>
            <th>Code</th>
            <th>प्रदेश</th>
            <th>Name</th>
            <th>नाम</th>
            <th>Display Order</th>
            <th>Action</th>

        </tr>
    </thead>
    <tbody>
        {% for district in district_list %}
        <tr>
            <td>{{ district.code }}</td>
            <td>{{ district.province_id }}</td>
            <td>{{ district.name_en }}</td>
            <td>{{ district.name_lc }}</td>
            <td>{{ district.display_order }}</td>
            <td><a href="{% url 'district_update' district.id %}" class="btn text-secondary px-o"><i
                        class="fas fa-edit text-success"></i></a>

                <form action="{% url 'district_delete' district.id %}" method="POST" class="d-inline">
                    {% csrf_token %}
                    <button type="submit" class="btn">
                        <i class="fas fa-trash-alt  text-danger float-right"></i>
                    </button>
                </form>

            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}