{% extends "primary_master/base.htm" %}
{% load crispy_forms_tags %}

{% block header %} लिङ्ग {% endblock header %}

{% block content %}
<form action="" method="post" autocomplete="off">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-4">
            {{ form.code|as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            {{ form.name_en|as_crispy_field }}
        </div>
        <div class="col-md-4">
            {{ form.name_lc|as_crispy_field }}
        </div>
    </div>
    {{ form.display_order|as_crispy_field }}
    <div class="row">
        <div class="col-md-6">
            <button type="submit" class="btn btn-success btn-block btn-lg"><i class="fas fa-database"> Submit </i>
            </button>
        </div>
        <div class="col-md-6">
            <a href="{% url 'gender_list' %}" class="btn btn-secondary btn-block btn-lg"><i class="fas fa-stream">Back
                    to list</i></a>
        </div>
    </div>

</form>
{% endblock content %}